---
// Hero.astro
---

<section
    id="about"
    class="w-full min-h-[75vh] flex flex-col justify-between p-6 md:p-12 hairline-b border-border relative"
>
    <div
        class="flex flex-col md:flex-row justify-between items-start md:items-end mt-12 md:mt-24 space-y-8 md:space-y-0 relative z-10"
    >
        <div class="flex flex-col gap-2">
            <span class="w-12 h-[1px] bg-border mb-2"></span>
            <p
                data-i18n="hero.subtitle"
                class="text-[10px] md:text-xs uppercase tracking-[0.25em] italic opacity-80 max-w-[200px] leading-relaxed"
            >
                3D Artist &<br /> Visual Designer
            </p>
        </div>

        <div class="flex flex-col gap-2 md:text-right">
            <p
                data-i18n="hero.location"
                class="text-[10px] md:text-xs uppercase tracking-[0.25em] italic opacity-80 max-w-[200px] leading-relaxed"
            >
                Based in<br /> Zaragoza, Spain
            </p>
            <span class="w-12 h-[1px] bg-border mt-2 self-end hidden md:block"
            ></span>
        </div>
    </div>

    <!-- Massive Typography Focus -->
    <div class="w-full flex justify-center items-center flex-grow mt-12">
        <h1
            id="hero-name"
            class="text-[13vw] md:text-[11vw] leading-[0.8] font-black uppercase tracking-tighter text-text text-center z-20 transition-colors duration-300 origin-center will-change-transform"
        >
            Miguel<br />Asensio<br />Mayayo
        </h1>
    </div>

    <div
        class="flex justify-between items-center w-full mt-12 text-[10px] uppercase font-medium tracking-[0.2em] italic opacity-50"
    >
        <span data-i18n="hero.scroll">[ SCROLL TO EXPLORE ]</span>
        <span>2026 © LIONLIONLION</span>
    </div>
</section>
